@model WebDateTimePicker.Models.StudentModel
@{
    ViewBag.Title = "Index";
}
<script src="~/scripts/jquery-1.12.4.min.js"></script>
<script src="~/scripts/jquery-ui-1.12.1.min.js"></script>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />


<script type="text/javascript">
    $(document).ready(function() {
        DateTimePicker();
        $("#txtFromDate").change(function() {
            var date2 = $("#txtFromDate").datepicker('getDate', '+1d');
            console.log(date2);
            date2.setDate(date2.getDate() + 1);
            $("#txtToDate").datepicker('option', 'minDate', date2);
            $("#txtToDate").datepicker('setDate', date2);
        });

        $("#btnSave").click(function() {
            alert($("#txtFromDate").val());
            alert($("#txtToDate").val());
            var objStudentModel = { FromDate: $("#txtFromDate").val(), ToDate: $("#txtToDate").val() };
            $.ajax({
                async: true,
                type: 'POST',
                dataType: 'JSON',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(objStudentModel),
                success: function() {
                    alert('da');
                },
                error: function() {

                }
            });
        });
    });

    function DateTimePicker() {
        $(".datepicker").datepicker({
            dateFormat: 'dd-M-yy',
            changeMonth: true,
            changeYear: true,
            showOn: 'button',
            sideBySide : true,
            controlType: 'select',
            //buttonImage: "https://jqueryui.com/resources/demos/datepicker/images/calendar.gif",
            //buttonImageOnly: true,
            buttonText: '<span class="glyphicon glyphicon-calendar" ></span>',
            minDate: new Date()
        });
    }

</script>



<div class="container">
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(model => model.FromDate, new {@class = "control-label"})
            @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @readonly = "true" , Value = Model.FromDate.ToString("dd-MMM-yyyy"), @class = "form-control datepicker", @id= "txtFromDate" } })
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(model => model.ToDate, new { @class = "control-label" })
            @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @readonly = "true" , Value = Model.ToDate.ToString("dd-MMM-yyyy"), @class = "form-control datepicker", @id = "txtToDate" } })
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <input id="btnSave" type="button" name="Show" value="Show" class="btn btn-danger"/>
        </div>
    </div>
</div>

